Remainder Agent (1).json
{
  "name": "Remainder Agent",
  "nodes": [
    {
      "parameters": {
        "functionCode": "// Extract topic (medicine) + time (8am) + reminderAt (ISO datetime)\n\nreturn items.map(item => {\n  const j = item.json;\n\n  // message text: from originalText or message\n  const rawText = (j.originalText || j.message || \"\").toLowerCase();\n\n  // ---- Topic (after \"take \") ----\n  let topic = \"medicine\";\n  const topicMatch = rawText.match(/take\\s+([a-z\\s]+)/);\n  if (topicMatch) {\n    topic = topicMatch[1]\n      .replace(/\\s+at\\s+.*$/, \"\")   // remove \" at 8am\"\n      .trim();\n  }\n\n  // ---- Time parsing: \"at 8am\", \"at 8:30 pm\" etc. ----\n  let timeText = null;\n  let reminderAt = null;\n\n  const timeMatch = rawText.match(/at\\s+(\\d{1,2})(?::(\\d{2}))?\\s*(am|pm)?/);\n  if (timeMatch) {\n    let hour = parseInt(timeMatch[1], 10);\n    const minute = timeMatch[2] ? parseInt(timeMatch[2], 10) : 0;\n    const ampm = timeMatch[3] || \"\";\n\n    // 12h → 24h\n    hour = hour % 12;\n    if (ampm === \"pm\") hour += 12;\n\n    const now = new Date();\n    let dt = new Date(\n      now.getFullYear(),\n      now.getMonth(),\n      now.getDate(),\n      hour,\n      minute,\n      0,\n      0\n    );\n\n    // if time already passed today → tomorrow\n    if (dt <= now) {\n      dt.setDate(dt.getDate() + 1);\n    }\n\n    reminderAt = dt.toISOString();\n    timeText = timeMatch[0].replace(/^at\\s+/, \"\").trim(); // e.g. \"8am\"\n  }\n\n  return {\n    json: {\n      ...j,\n      topic,       // e.g. \"medicine\"\n      timeText,    // e.g. \"8am\"\n      reminderAt,  // ISO datetime to store in DB\n    },\n  };\n});\n"
      },
      "id": "e95d09c6-a304-4717-a09f-574a28ec10f6",
      "name": "Extract Topic & Parse",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        -1472,
        192
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": true,
              "value2": true
            }
          ]
        }
      },
      "id": "89f87de4-2f93-4c4a-824d-319bdb6d54ac",
      "name": "Is Reminder Response?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -800,
        208
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "CREATE TABLE IF NOT EXISTS medicine_reminders (\n  reminder_id TEXT PRIMARY KEY,\n  user_id TEXT,\n  user_name TEXT,\n  medicine_name TEXT,\n  dosage TEXT,\n  form TEXT,\n  frequency TEXT,\n  times TEXT,\n  start_date TEXT,\n  end_date TEXT,\n  timezone TEXT,\n  next_reminders TEXT,\n  notes TEXT,\n  created_at timestamptz DEFAULT now()\n);\n",
        "options": {}
      },
      "id": "9c01d86e-d445-4ce4-a6d1-23a0437da385",
      "name": "Insert User Query",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -560,
        112
      ],
      "credentials": {
        "postgres": {
          "id": "OR92i58a8blXfxOY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO user_reminders (user_id, reminder_active, reminder_time, topic)\nVALUES ('{{ $json.user_id }}', true, NOW() + INTERVAL '1 day', '{{ $json.topic }}')\nON CONFLICT (user_id)\nDO UPDATE\nSET\n  reminder_active = EXCLUDED.reminder_active,\n  reminder_time = EXCLUDED.reminder_time,\n  topic = EXCLUDED.topic;\n",
        "options": {}
      },
      "id": "482e8e56-45a0-446d-96b9-5cdf520664d3",
      "name": "Enable Reminder",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -560,
        288
      ],
      "credentials": {
        "postgres": {
          "id": "OR92i58a8blXfxOY",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "a1615d0c-fd10-45b1-8a08-9f44892bf987",
      "name": "Weekly Analysis Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1536,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT medicine_name AS topic,\n       COUNT(*) AS cnt\nFROM medicine_reminders\nWHERE created_at >= NOW() - INTERVAL '7 days'\nGROUP BY medicine_name\nORDER BY cnt DESC\nLIMIT 50;\n",
        "options": {}
      },
      "id": "c969b987-9363-41de-9f8c-02b2fb5ff80a",
      "name": "Check Frequent Topics",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1280,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "OR92i58a8blXfxOY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f6eb3754-0bb4-4660-86f6-4660c8ca251a",
      "name": "Process Each User",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1056,
        480
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "hoursInterval": 24
            }
          ]
        }
      },
      "id": "257ee3e0-ec75-4ea3-b2ee-f47090ed8bde",
      "name": "Daily Reminder Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1504,
        784
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id, user_id, reminder_text, type, next_run_at\nFROM reminders\nWHERE next_run_at <= NOW()\n  AND status = 'pending'\nORDER BY next_run_at\nLIMIT 200;\n",
        "options": {}
      },
      "id": "5ce9d374-07d5-4b8b-b19f-1ee2bac9d995",
      "name": "Get Active Reminders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2,
      "position": [
        -1312,
        784
      ],
      "credentials": {
        "postgres": {
          "id": "OR92i58a8blXfxOY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "cfa13fe3-c1d7-4e01-9abc-be925bc87644",
      "name": "Process Each Reminder",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1136,
        784
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "months",
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "983af5eb-fd90-4e18-acac-8b3768d3c708",
      "name": "Monthly Reminder Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -1488,
        1088
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "f4599893-b8ed-4f54-84d2-b318a56dc961",
      "name": "Process Monthly Reminder",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -1056,
        1088
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        -832,
        464
      ],
      "id": "8077d612-8232-455e-92bb-7e63839f3568",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cnrwlokitfkjqfqpoefn.supabase.co/rest/v1/medicine_reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNucndsb2tpdGZranFmcXBvZWZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzOTc1MTIsImV4cCI6MjA3ODk3MzUxMn0.qzZGsHeNpXyUg2Oh98PneTChSaYe_3AKQblnSOQUNCk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"medicine_name\": \"Dolo 650\",\n  \"dosage\": \"1 tablet\",\n  \"time\": \"6:00 PM\",\n  \"days\": 5\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -720,
        768
      ],
      "id": "5dffbc26-ae52-4bc1-a8d1-ac0bd9f3c31f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cnrwlokitfkjqfqpoefn.supabase.co/rest/v1/",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNucndsb2tpdGZranFmcXBvZWZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzOTc1MTIsImV4cCI6MjA3ODk3MzUxMn0.qzZGsHeNpXyUg2Oh98PneTChSaYe_3AKQblnSOQUNCk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"url\": \"/mnt/data/c1815641-6b9e-4bb8-876d-c0b9e28aba97.png\",\n  \"method\": \"POST\",\n  \"sendHeaders\": true,\n  \"headers\": {\n    \"Content-Type\": \"application/json\"\n  },\n  \"sendBody\": true,\n  \"bodyContentType\": \"json\",\n  \"body\": {\n    \"reminder_id\": \"{{$json.reminder_id}}\",\n    \"user_id\": \"{{$json.user_id}}\",\n    \"user_name\": \"{{$json.user_name}}\",\n    \"medicine_name\": \"{{$json.medicine_name}}\",\n    \"dosage\": \"{{$json.dosage}}\",\n    \"times\": \"{{$json.times}}\",\n    \"next_reminders\": \"{{$json.next_reminders}}\",\n    \"notes\": \"{{$json.notes}}\",\n    \"attachment_url\": \"/mnt/data/c1815641-6b9e-4bb8-876d-c0b9e28aba97.png\"\n  },\n  \"responseFormat\": \"json\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -832,
        1072
      ],
      "id": "31335cc4-5406-42a8-b65d-13421083d181",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://cnrwlokitfkjqfqpoefn.supabase.co/rest/v1/medicine_reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNucndsb2tpdGZranFmcXBvZWZuIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NjMzOTc1MTIsImV4cCI6MjA3ODk3MzUxMn0.qzZGsHeNpXyUg2Oh98PneTChSaYe_3AKQblnSOQUNCk"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"user_id\": \"user_7\",\n  \"user_name\": \"Arun\",\n  \"medicine_name\": \"Paracetamol\",\n  \"dosage\": \"500mg\",\n  \"frequency\": \"2 times\",\n  \"times\": [\"09:00\", \"18:00\"],\n  \"start_date\": \"2025-11-20\",\n  \"end_date\": \"2025-12-20\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -1280,
        1088
      ],
      "id": "5f473d70-062a-4a11-bc06-48046b832757",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "90c4b539-05fe-4f8e-a1b7-b0dcdf0b763b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "jsCode": "// safe: use given items or fallback to empty array\nconst inputItems = (typeof items !== 'undefined' && items) ? items : [];\n\nconst out = [];\nconst now = new Date();\n\nfor (const it of inputItems) {\n  const r = it.json;\n\n  // Decide sendNow (example using next_reminders or times)\n  let sendNow = false;\n  if (r.next_reminders) {\n    const nr = new Date(r.next_reminders);\n    if (Math.abs(now - nr) <= 90 * 1000) sendNow = true;\n  } else if (r.times) {\n    const times = (r.times || '').split(',').map(s => s.trim()).filter(Boolean);\n    for (const t of times) {\n      const parts = t.split(':').map(x => parseInt(x,10));\n      if (parts.length >= 2) {\n        const candidate = new Date();\n        candidate.setHours(parts[0], parts[1], 0, 0);\n        if (Math.abs(now - candidate) <= 90 * 1000) { sendNow = true; break; }\n      }\n    }\n  }\n\n  if (sendNow) {\n    out.push({ json: {\n      reminder_id: r.reminder_id,\n      user_id: r.user_id,\n      user_name: r.user_name,\n      medicine_name: r.medicine_name,\n      dosage: r.dosage,\n      times: r.times,\n      next_reminders: r.next_reminders\n    }});\n  }\n}\n\nreturn out;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        592,
        0
      ],
      "id": "91b40ab3-34dc-4d26-982a-c939d0af89d9",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT *\nFROM reminders\nWHERE next_run_at <= NOW()\n  AND status = 'pending';\n",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        304,
        0
      ],
      "id": "9ebe7bee-448c-4e7d-bb5e-3e94b25be257",
      "name": "Execute a SQL query",
      "credentials": {
        "postgres": {
          "id": "OR92i58a8blXfxOY",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        928,
        48
      ],
      "id": "39831646-47f3-4bb2-9712-ff9d4bf6bee9",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://cnrwlokitfkjqfqpoefn.supabase.co/rest/v1/medicine_reminders",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "apikey",
              "value": "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNucndsb2tpdGZranFmcXBvZWZuIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc2MzM5NzUxMiwiZXhwIjoyMDc4OTczNTEyfQ.St0GczA3J0ydK4OkKC-riaHisqcZjEfH91lCPwz9uJ4"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n  \"timezone\": \"Asia/Kolkata\",\n  \"next_reminders\": \"2025-11-22T23:00:00+00:00\",\n  \"notes\": \"Take with food\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        464,
        160
      ],
      "id": "5fa8ea35-00cb-4aa2-9e12-c54e545c5e08",
      "name": "HTTP Request3"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\n// Helper: convert \"7pm\" or \"7 pm\" to 24-hour \"19:00\"\nfunction convertTo24Hour(timeStr) {\n  timeStr = timeStr.toLowerCase().replace(\" \", \"\");\n  let hour = parseInt(timeStr);\n\n  if (timeStr.includes(\"pm\") && hour !== 12) hour += 12;\n  if (timeStr.includes(\"am\") && hour === 12) hour = 0;\n\n  return `${hour.toString().padStart(2, \"0\")}:00`;\n}\n\nfor (const item of items) {\n\n  const userMsg = item.json.user_message;    // Input from your LLM\n  const medName = item.json.medicine_name;   // Eg: \"dolo 650\"\n  const rawTime = item.json.time;            // Eg: \"7pm\"\n\n  // Convert to 24-hour time\n  const time24 = convertTo24Hour(rawTime);\n\n  // Create ISO next run time (today at that time)\n  const today = new Date();\n  const [hh, mm] = time24.split(\":\");\n\n  today.setHours(hh);\n  today.setMinutes(mm);\n  today.setSeconds(0);\n  today.setMilliseconds(0);\n\n  // ADD FIELDS FOR DB + NEXT WORKFLOW\n  item.json.message = `Take your ${medName} tablet`;\n  item.json.time24 = time24;\n  item.json.nextRunAt = today.toISOString();\n}\n\nreturn items;\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        768
      ],
      "id": "16c7b273-1fa1-4a79-91af-22de5e4a12a4",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "public": true,
        "initialMessages": "Hi there! 👋\nMy name is Healthmate chatbot. How can I assist you today?",
        "options": {
          "responseMode": "responseNodes"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1632,
        192
      ],
      "id": "0b491d92-4093-4b3c-828a-f254c5aeb108",
      "name": "When chat message received",
      "webhookId": "cb5de045-5b06-4477-9fc0-2e26db180dbc",
      "alwaysOutputData": false,
      "notesInFlow": true,
      "onError": "continueRegularOutput",
      "notes": "Test reply from workflow\n"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "45b5a826-d1d2-4655-9a5e-717839516846",
              "name": "=message",
              "value": "={{ $json.originalText || \"hi\" }}",
              "type": "string"
            }
          ]
        },
        "includeOtherFields": true,
        "options": {
          "stripBinary": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1296,
        192
      ],
      "id": "fc3143d9-a92d-4224-9ac5-cabedd5e6463",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "message": "=Okay! I have set your reminder for {{$node[\"Extract Topic & Parse\"].json.timeText}} about {{$node[\"Extract Topic & Parse\"].json.topic}}.\n",
        "waitUserReply": false,
        "options": {
          "memoryConnection": true
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chat",
      "typeVersion": 1,
      "position": [
        -1120,
        192
      ],
      "id": "57bd95ed-a0b9-48ef-85fa-8dbb81c15b8e",
      "name": "Respond to Chat",
      "notesInFlow": true,
      "alwaysOutputData": true
    }
  ],
  "pinData": {},
  "connections": {
    "Extract Topic & Parse": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Reminder Response?": {
      "main": [
        [
          {
            "node": "Insert User Query",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Enable Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Weekly Analysis Trigger": {
      "main": [
        [
          {
            "node": "Check Frequent Topics",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Frequent Topics": {
      "main": [
        [
          {
            "node": "Process Each User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each User": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Daily Reminder Trigger": {
      "main": [
        [
          {
            "node": "Get Active Reminders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Reminders": {
      "main": [
        [
          {
            "node": "Process Each Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Each Reminder": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Monthly Reminder Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Monthly Reminder": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Process Each User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Process Each Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Process Monthly Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Process Monthly Reminder",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute a SQL query": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "HTTP Request3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request3": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "Extract Topic & Parse",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Chat",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Chat": {
      "main": [
        [
          {
            "node": "Is Reminder Response?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4a3aa83e-f15a-4c38-b794-f04778584961",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08652f0222c9be879486d49ea154ce2431f560ba837b1567e34253036c8124e9"
  },
  "id": "ALg3oIhK97djI7Bi",
  "tags": []
}